Source: libcariad-icons-picol
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-icons-picol
Replaces: libdisplaycore-icons-picol
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Icons
Depends: libcariad-core, libcariad-toolkit-monoicon
Provides: PICOL.h
Description: PICOL
 The PICOL icon set for the MonoIcon widget system



